

/* SHARED: Homepage, Fresh, About us */

    /*  Header */


    img[data-src] {
        filter: blur(0.2em);
    }

    img {
        filter: blur(0em);
        transition: filter 0.5s;
        max-width: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Arvo', serif;
        text-align: center;
    }

    p {
        font-family: 'Lato', sans-serif;
        text-align: center;
    }

    header {
        background-color: rgba(95,174,214,255);
        margin-top: 0;
        padding-bottom: 2%;
    }

    h1 {
        width: 100%;
        line-height: 0;
        color: white;
    }

    .li-h1 {
        padding-right: 7.8%;
        margin-top: 1%;
    }

    .header-ul-social-media-p {
        margin-top: 1%;
    }

    .header-ul-social-media-li {
        margin-top: 2%;
    }

    .header-ul-social-media li, .nav-ul li {
        list-style: none;
    }

    .header-div-social-media {
        padding: 0;
        margin: 0;
        padding-left: 30%;
        padding-top: 0.5%;
    }

    #hamburger-btn {
        display: none;
    }

    .header-ul-social-media {
        display: flex;
        width: 84.5%;
        padding: 0;
        margin: 0;
        justify-content: right;
    }

    .header-ul-social-media li{
        display: block;
        margin-right: 0.5%;
    }

    .header-ul-social-media li a img{
        width: 25px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px white;
    }

    .header-ul-social-media li p { 
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        line-height: 280%;
        color: white;
    }

    /*  Header Logo */

    .logo-bf {
        margin-left: 50%;
        margin-top: -5%;
        display: inline;
        width: auto;
    }

    /* Navigation */

    nav {
        padding-bottom: 0.5%;
    }

    .nav-ul {
        display: flex;
        width: 93.4%;
        margin-top: 0%;
        padding-bottom: 0%;
    }

    .nav-ul-navbar {
        display: flex;
        padding: 0;
        width: 60%;
        height: 35%;
        margin-left: 13%;
        margin-top: 1%;
        padding-left: 0;
        padding-right: 0;
        box-shadow: 0px 0px 10px rgb(139, 139, 139);
        border-radius: 5px;
    }

    .nav-ul-navbar li {
        width: 34%;
        height: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
    }

    .nav-ul-navbar li:nth-child(1) {
        border-radius: 5px 0px 0px 5px;
    }

    .nav-ul-navbar li:nth-child(3) {
        border-right: 1px solid white;
        border-radius: 0px 5px 5px 0px;
    }

    .nav-ul-navbar li {
        text-align: center;
        padding: 1%;
    }

    .nav-ul-navbar li a {
        font-family: 'Arvo', serif;
        text-decoration: none;
        display: block;
    }

    .active-link-li {
        background-color: white;
    }

    .active-link-a {
        color: rgba(95,174,214,255);
    }

    .inactive-link-a {
        color: white;
    }

    .nav-ul-navbar li:hover {
        background-color: black;
        color: white;
    }





    /* Footer */

    footer {
        clear: both;
        margin: 0;
        padding: 0;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 200px 50% auto;
        grid-template-rows: auto;
        background-color: rgba(95,174,214,255);
    }

    /* Logo Footer */

    .logo-bf-footer {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 8%;
        margin-left: 70%;
    }

    /* Footer Div Info */

    .footer-div-info {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 20%;
    }

    .footer-div-info p {
        color: white;
        text-align: center;
    }

    /* Footer Div Social Media & Contact Info*/

    .footer-ul-social-contact {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }

    .footer-ul-social-contact li {
        list-style: none;
        margin-right: 0;
    }

    .footer-ul-social-contact li p{
        color: white;
    }

    .footer-contact {
        margin: 0;
        padding: 0;
        margin-top: 0%;
    }

    /* Footer Ul Social Media */

    .footer-ul-social {
        display: flex;
        padding: 0;
        margin-top: 0;
    }

    .footer-ul-social li{
        margin-left: 1%;
        max-width: 100%;
    }

    .footer-ul-social img {
        width: 25px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px white;
    }


/* HOMEPAGE */
/* Main */
    /* Home Fruits Div */

    .homepage-main {
        position: relative;
        margin-bottom: 3%;
    }

    h2 {
        text-align: center;
        margin-top: 3%;
        margin-left: 12.7%;
        width: 50%;
    }

    .a-h2 {
        color: black;
        text-decoration: none;
    }

    .a-h2:hover {
        color: rgba(95,174,214,255);
    }

    .h2-cities {
        margin-top: 7%;
        margin-left: 18%;
        width: 65%;
    }

    #storaged-orders {
        border: 1px solid black;
        width: 49%;
        margin-left: 11.3%;
        border-radius: 5px;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: rgba(95,174,214,255);
    }

    .a-orders {
        color: black;
        text-decoration: none;
    }
    
    .a-orders:hover {
        color: white
    }

    #storaged-orders h3 {
        text-align: center;
    }

    #inner-storaged-orders {
        display: flex;
    }

    #inner-storaged-orders p {
        margin-right: 3%;
    }

    .home-fruits-div {
        width: 50%;
        margin-left: 11.3%;
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-template-rows: 170px 170px;
        grid-column-gap: 2%;
        grid-row-gap: 5%;
        margin-top: 3%;
    }

    .home-fruits-div img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .home-fruits-div div {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0px 0px 7px black;
        position: relative;
    }

    .div-img1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .div-img2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .div-img3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .div-img4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .div-img5 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .div-img6 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .div-img7 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .div-img8 {
        grid-row: 2/3;
        grid-column: 4/5;
    }
    
    /* Home Cities Div */

    .home-cities-div {
        width: 74.5%;
        margin-left: 11.3%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 130px;
        grid-column-gap: 2%;
        margin-top: 3%;
    }

    .home-cities-div div {
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 3px;
        box-shadow: 0px 0px 7px black;
    }

    .div-sd {
        grid-column: 1/2;
    }

    .div-ven {
        grid-column: 2/3;
    }

    .div-la {
        grid-column: 3/4;
    }

    .div-car {
        grid-column: 4/5;
    }

    .home-cities-div img {
        width: 100%;
    }

    /* Weather */
    #div-weather {
        width: 22%;
        box-shadow: 0px 0px 10px black;
        border-radius: 5px;
        background-color: rgba(95,174,214,255);
        color: black;
        position: absolute;
        top: 5%;
        right: 10%;
        padding: 1%;
        padding-bottom: 0.5%;
        padding-top: 0;
    }

    #div-weather[class] {
        top: 9.5%;
    }

    #div-weather h3 {
        text-align: center;
        margin: 0;
        margin-top: 3%;
    }

    #div-weather p {
        text-align: center;
        font-size: 90%;
    }

    .current-weather-figure {
        margin-left: 42%;
        margin-top: 0;
    }

    .div-current-weather figure img {
        width: 32%;
        margin-left: 3%; 
    }

    #div-weather figcaption {
        font-weight: bold;
    }

    .div-forecast {
        display: grid;
        grid-template-rows: 15% auto;
        grid-template-columns: repeat(3, 33%);
        margin-top: 0%;
    }

    .forecast-title {
        grid-row: 1/1;
        grid-column: 1/4;
    }

    .forecast-day1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .forecast-day2 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .forecast-day3 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .div-forecast figure {
        margin-left: 0%;
        margin-top: 0;
        width: 100%;
    }

    .div-forecast img {
        margin-left: 25%;
    }

    .div-forecast figcaption {
        text-align: center;
    }

    #div-weather figure {
        margin-bottom: 0;
    }



/* FRESH */
/* Main */

.fresh-main {
    position: relative;
}

.fresh-h2 {
    margin: 0;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.fresh-form-h3 {
    text-align: center;
}

.fresh-main form {
    width: 20%;
    margin: 0 auto;
    margin-left: 15%;
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3%;
    padding-top: 0;
    background-color: rgba(95,174,214,255);
    box-shadow: 0px 0px 10px black;
}

section input {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 75%;
    width: 100%;
    margin-right: 0;
}

.form-section-name, .form-section-email {
    margin-bottom: 5%;
}

.label-name, .label-email, .label-phone {
    font-family: 'Arvo', serif;
}

fieldset {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 5px;
    border: 1px solid black;
}

fieldset legend {
    font-family: 'Arvo', serif;
    padding-left: 2%;
    padding-right: 2%;
}

fieldset label {
    font-family: 'Lato', sans-serif;
}
fieldset p {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3%;
}

fieldset select {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid black;
}

.label-sp-in {
    font-family: 'Arvo', serif;
    padding-left: 10%;
}

textarea {
    margin: 0;
    margin-top: 3%;
    margin-left: 1.2%;
    border-radius: 5px;
    padding: 5%;
    padding-left: 9%;
    width: 84%;
    border: 1px solid black;
}

#order {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
    margin-right: 0;
    margin-left: auto;
    padding: 2%;
}

.hidden {
    display: none;
}

#div-current-order {
    position: absolute;
    top: 10.5%;
    left: 55%;
    border: 1px solid black;
    width: 25%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5px;
    background-color: rgba(95,174,214,255);
}

#div-current-order h3 {
    text-align: center;
    margin: 0;
}

#div-current-order p{
    font-family: 'Arvo', serif;
}

#div-current-order span {
    font-family: 'Lato', sans-serif;
}



/* ABOUT US */
/* Main */

.aboutus-div {
    width: 80%;
    margin: 0 auto;
    margin-left: 9%;
}

.history-div {
    margin-left: 10%;
}

.history-div h2 {
    width: 70%;
    margin-left: 7%;
}

.history-div p {
    float: left;
    width: 50%;
    text-align: right;
}

.history-div figure {
    margin: 0;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}

.history-div img {
    margin-left: 7%;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.history-div figcaption {
    text-align: center;
    margin-top: 2%;
    font-family: 'Lato', serif;
    font-size: 80%;
}

.where-div {
    clear: both;
    margin-left: 10%;
    width: 80%;
}

.where-div h2 {
    padding-top: 3%;
    width: 50%;
    margin-left: 35%;
}

.where-div figure {
    float: left;
    margin: 0;
    margin-top: 3%;
    margin-left: 7%;
}

.where-div img {
    margin-left: 1%;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.where-div p {
    margin-left: 0%;
    width: 50%;
    padding: 0;
    float: right;
}

.where-div figcaption {
    text-align: center;
    margin-top: 2%;
    font-family: 'Lato', serif;
    font-size: 80%;
}

.contact-div {
    clear: both;
}

.contact-div h2 {
    padding-top: 3%;
    margin-left: 25.5%;
    width: 50%;
}

.contact-div p{
    margin-left: 15%;
    width: 40%;
    padding: 0;
    float: left;
    text-align: right;
}

.map {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    float: right;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 11%;
}