/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


img[data-src] {
    filter: blur(0.2em);
}

img {
    filter: blur(0em);
    transition: filter 0.5s;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

header {
    background-color: rgba(95,174,214,255);
    margin-top: 0;
    padding-bottom: 2%;
}

.header-div-social-media {
    margin-top: 0;
}

.header-ul-social-media {
    margin-top: 0;
    padding-top: 5%;
}

.header-ul-social-media-li {
    display: inline;
}

.header-ul-social-media-li img {
    width: 25px;
}

.logo-bf {
    width: 120px;
    position: absolute;
    top: 22%;
    left: 60%;
    
}

#hamburger-btn {
    font-family: "Arvo", sans-serif;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 3%;
}

#primary-nav {
    border: 1px solid black;
    width: 85%;
    padding-left: 0;
    border-radius: 5px;
}

#primary-nav li {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 2%;
    font-family: 'Arvo', sans-serif;
}

#primary-nav .active-link-li {
    background-color: black;
}

#primary-nav .active-link-li a {
    color: white;
}

#primary-nav li {
    background-color: white;
}

#primary-nav li a {
    color: black;
}

#primary-nav li:nth-child(1), #primary-nav li:nth-child(2) {
    border-bottom: 1px solid black;
}

nav ul ul {
    display: none;
}

nav ul ul.open {
    display: block;
    overflow: hidden;
}

#hamburger-btn span:nth-child(1) {
    display: block;
}

#hamburger-btn span:nth-child(2) {
    display: none;
}

#hamburger-btn.open span:nth-child(1) {
    display: none;
}

#hamburger-btn.open span:nth-child(2) {
    display: block;
}

h1 {
    text-decoration: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.call-to-action {
    text-align: center;
}

#storaged-orders {
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgba(95,174,214,255);
    box-shadow: 0px 0px 10px black;
}

#storaged-orders h3 a {
    color: black;
}

a{
    color: black;
}

.homepage-main img {
    box-shadow: 0px 0px 10px black;
    margin-top: 5%;
    border-radius: 5px;
}

.home-fruits-div {
    text-align: center;
}

.home-cities-div {
    text-align: center;
}

.major-weather-div {
    border: 1px solid black;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgba(95,174,214,255);
    box-shadow: 0px 0px 10px black;
}

.major-weather-div figcaption {
    font-family: 'Lato', serif;
}

footer {
    background-color: rgba(95,174,214,255);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-ul-social-contact {
    margin: 0;
    padding: 0;
}

.footer-ul-social {
    display: flex;
    padding-bottom: 20%;
    text-align: center;
    padding-left: 30%;
}

.footer-ul-social li {
    margin-right: 5%;
}

.fresh-h2 {
    font-size: 130%;
    margin-top: 7%;
}

form {
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color:  rgba(95,174,214,255);
}

form label {
    font-family: 'Lato', serif;
}

form input, form textarea {
    font-family: 'Lato', serif;
    border-radius: 5px;
    border: 1px solid black;
}

form input {
    width: 70%;
}

#order {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
    margin-right: 1%;
    margin-left: auto;
    padding: 2%;
}

form section {
    margin-bottom: 5%;
}

fieldset {
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 1px solid black;
}

fieldset select {
    margin-left: 2%;
    border-radius: 5px;
    border: 1px solid black;
}

fieldset legend {
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Arvo', sans-serif;
}

textarea {
    padding-left: 5%;
    margin-top: 2%;
    width: 100%;
}

.label-sp-in {
    padding-left: 5%;
    font-family: 'Arvo', sans-serif;
}

.hidden {
    display: none;
}

.contact-div {
    text-align: center;
    margin-bottom: 5%;
}

.map {
    width: 200px;
    height: 200px;
}

.aboutus-main {
    text-align: center;
}

.aboutus-main p {
    width: 90%;
    margin: 0 auto;
}

.aboutus-main figcaption {
    font-family: 'Lato', serif;
}